body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.top-head {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

/* section of product class */
section.product {
  padding: 60px 0px;
}

/* section.product .items #price {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  background-color: #842dce;
  color: #fff;
  font-size: 0.89rem;
} */

section.product .card .card-text {
  margin-bottom: 0.6rem;
}
